<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>500, Error server - Share things.</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <script>window.onload = function() {try{var link=document.createElement('link');link.rel='stylesheet';if(window.screen.width < 768) {link.href="/css/mobile.css";} else {link.href="/css/large.css";}document.getElementsByTagName('head')[0].appendChild(link);link.addEventListener('load', function () {document.querySelector('body').setAttribute('class', '');})}catch(e) {document.querySelector('body').setAttribute('class', '')}}</script>   

        <style>
            body.loading::before {
                font-family: Arial, Helvetica, sans-serif;
                z-index: 2000;
                font-size: 3rem;
                content: 'Share things';
                background: #121215;
                color: #f89345;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
            }
        </style>

        <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon-180x180.png" />
    </head>
 
    <body class="loading">
        <a id="homeLink" href="/">Home</a>
        <div class="hero background">
            <img class="hero-img" src="/assets/undraw_server_down.svg">
        </div>
        <div class="container index">
            <h1>500, Error server</h1>
            <span>We are about to fix the problem. Please try another page.</span>
        </div>

        <div class="container index">
            <h2>Want to share?</h2>
            <form action="/join" method="POST">
                <label>Join a room</label>
                <input type="text" name="code" placeholder="5 caracters code" maxlength="5">
                <input type="submit" id="join" name="join" value="Join">
            </form>

            <form action="/create" method="POST">
                <label>Create your room</label>
                <input type="text" id="createCode" name="code" placeholder="It can be empty" maxlength="5">
                <input type="submit" id="create" name="create" value="Create">
            </form>
        </div>
        <div class="container index">
            <div class="hero">
                <img class="hero-img" src="/assets/undraw_taking_selfie.svg">
            </div>
            <h1>Share things.</h1>
        </div>

        <div class="container index">


            <h2>By Arthaud Proust</h2>
        </div>
    </body>
    <script>const codeRoom = document.querySelectorAll('input[name="code"]');const upper = function(e) {e.target.value = e.target.value.toUpperCase();};for(i=0 ; i<codeRoom.length ; i++){codeRoom[i].addEventListener("keyup", upper);}if(document.querySelector('#createCode'))document.querySelector('#createCode').value = Array(5).fill('-').map(()=>'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'.charAt(Math.floor(Math.random()*36))).join('');</script>
</html>