<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Choose a name</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/socket.io.min.js"></script>
    </head>
 
    <body>
        <div class="container index">
            <h1>Join the room <span id="room-code"></span></h1>
            <span id="users-count"></span>
            <form action="/" method="POST">
                <label>Choose a name</label>
                <input type="text" id="name" name="name" placeholder="Sarah Connor" autocomplete="off">
                <span id="info-name"></span>
                <input type="button" id="continue" name="continue" value="Continue">
            </form>
        </div>
        <script src="/js/base.js"></script>
        <script src="/js/name.js"></script>
    </body>
</html>